 @tailwind preflight;
 @tailwind components;
*:focus {
  border: none;
}

.nav-text {
  font-variant: small-caps;
  font-style: normal;
}

svg, svg:focus {
  all: inherit;
  border: none;
}
 @tailwind utilities;
