$accent: #00aeef;
$secondary: #151515;
$primary: #1a1a1a;
$white: #ffffff;
$twitter: #6ecbef;
$linkedin: #5cacdf;
$black: #000000;
$bitbucket: #205081;
$gitlab_accent: #554488;
$gitlab_dark: #e2452a;
$gitlab_medium: #f36e2c;
$gitlab_light: #faa327;
