<template>
    <main>
        <post v-for="post in posts" :key="post.id" :post="post" :excerptMode="true"></post>
        <site-footer/>
    </main>
</template>

<script>
import SiteFooter from "@/components/SiteFooter.vue";
import Post from "@/components/Post.vue";
import { mapState } from "vuex";
export default {
  name: "Feed",
  computed: mapState({
    posts: state => state.posts
  }),
  components: {
    SiteFooter,
    Post
  }
};
</script>

<style lang="scss">
@import "./src/sass/mixin-media-queries";
@import "./src/sass/variables";
main {
  @include MQ-TAA($S) {
    width: 80%;
    margin-left: 20%;
  }
  @include MQ-TAB($S) {
    margin-left: inherit;
    width: 100%;
  }
}
</style>
