<template>
  <main>
    <post :post="post" :excerptMode="false"></post>
    <comment v-if="comments" v-for="(comment, index) in comments" :key="index" :comment="comment"></comment>
    <site-footer/>
  </main>
</template>

<script>
import Post from "@/components/Post.vue";
import Comment from "@/components/Comment.vue";
import SiteFooter from "@/components/SiteFooter.vue";
import { mapGetters } from "vuex";
export default {
  name: "Single",
  props: ["id"],
  computed: {
    ...mapGetters(["getPostById", "getCommentsByPostId"]),
    comments: function() {
      return this.getCommentsByPostId(this.id);
    },
    post: function() {
      return this.getPostById(this.id);
    }
  },
  components: {
    Post,
    SiteFooter,
    Comment
  }
};
</script>
<style lang="scss">
@import "./src/sass/mixin-media-queries";
@import "./src/sass/variables";
main {
  @include MQ-TAA($S) {
    width: 80%;
    margin-left: 20%;
  }
  @include MQ-TAB($S) {
    margin-left: inherit;
    width: 100%;
  }
}
</style>
