<template>
    <div class="comment">
        <div class="comment__header">
            <span class="comment__author">{{comment.author_name}}</span> - <span class="comment__date">{{comment.date | formatDate }}</span>
        </div>

       <section class="comment__content" v-html="comment.content.rendered"></section>
    </div>
</template>

<script>
export default {
  name: "Comment",
  props: ["comment"]
};
</script>

<style lang="scss">
@import "./src/sass/mixin-media-queries";
@import "./src/sass/variables";
.comment {
  padding: 1em;
  background-color: $primary;
  width: 70%;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}
.comment__author {
  color: $accent;
}

.comment__content {
  padding-top: 1em;
}
</style>
