<template>
<div class="CommentForm">
  <form v-on:submit.prevent="submitComment" class="CommentForm__form">
    <div class="CommentForm__field">
      <label for="author">Name:
        <input name="author" type="text" value="" size="35" maxlength="245" required="required" v-model="form.author_name">
      </label>
    </div>
    <div class="CommentForm__field">
      <label for="comment">Comment:
        <textarea name="comment" cols="45" rows="8" maxlength="65525" required="required" v-model="form.content"></textarea>
      </label>
    </div>
    <button name="submit" type="submit" class="CommentForm__button">Post Comment</button>
    <input type="hidden" name="comment_post_ID" :value="postId" id="comment_post_ID">
  </form>
</div>
</template>

<script>
export default {
  name: "CommentForm",
  data: function() {
    return {
      form: {
        author_name: "",
        content: "",
        post: this.postId
      }
    };
  },
  computed: {},
  props: ["postId"],
  methods: {
    submitComment: function() {
      this.$store.dispatch("createComment", this.form);
      this.$store.dispatch("toggleForm", true);
    }
  }
};
</script>

<style lang='scss'>
@import "./src/sass/variables";
@import "./src/sass/mixin-media-queries";

// Transitions
.comment-form-comp-enter,
.comment-form-comp-leave-to {
  opacity: 0;
  height: 0;
}
.comment-form-comp-leave,
.comment-form-comp-enter-to {
  opacity: 1;
  height: 16rem;
  transform: translateX(0%);
}
.comment-form-comp-leave-to {
  transform: translate(-100%, 1em);
}
.comment-form-comp-enter {
  transform: translate(100%, 1em);
}
.comment-form-comp-enter-active,
.comment-form-comp-leave-active {
  transition: all 500ms linear 0ms;
}

.CommentForm__button {
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: white;
  background: #00aeef;
  float: right;
}
.CommentForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.CommentForm__form {
  width: fit-content;
  padding: 2rem;
  background-color: $secondary;
  border-radius: 0.25rem;
  display: inline-block;
}
.CommentForm__field {
  margin-bottom: 1rem;
}
input,
textarea {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
}
label {
  color: $accent;
  font-size: 1rem;
}
</style>
