<template>
    <article class="post" v-if="post" >
        <!-- Post Header -->
        <section class="post__header">
            <h1 class="post__title"> {{ post.title.rendered }} </h1>
            <h2 class="post__byline">Published by
                <span class="post__author">{{ getUserById(post.author).name }}</span> on
                <span class="post__timestamp">{{post.date|formatDate}}</span>
            </h2>
        </section>

        <!-- Post Content -->
        <section class="post__content" v-html="content"></section>
        <router-link class="post__readmore" v-if="excerptMode" :to="'/posts/' + post.id">Read More</router-link>

        <!-- Post Footer -->
        <section class="post__footer">
            <div class="post__tags" >
                <span v-for="(tag, index) in post.tags" :key="index">
                   Tags: {{ getTagById(tag).name }}
                   <span v-if="displayComma(index)">, </span>
                </span>
            </div>
              <a href="#" v-if="!excerptMode" class="post__comment_link" @click='toggleAddComment(openCommentForm, commentLabel)'> {{ commentLabel }} </a>
        </section>
        <transition name="comment-form-comp"> <comment-form  v-if="!excerptMode" v-show="openCommentForm" :postId="post.id" /> </transition>
    </article>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import CommentForm from "@/components/CommentForm.vue";
export default {
  name: "Post",
  props: ["post", "excerptMode"],
  data: function() {
    return {
      commentLabel: "Add Comment"
    };
  },
  computed: {
    ...mapGetters(["getUserById", "getTagById", "getCategoryById"]),
    ...mapState(["openCommentForm"]),
    content: function() {
      if (this.excerptMode) {
        return this.post.excerpt.rendered;
      } else {
        return this.post.content.rendered;
      }
    }
  },
  components: {
    CommentForm
  },
  methods: {
    toggleAddComment(oldState, oldText) {
      this.$store.dispatch("toggleForm", oldState);
      if (oldText === "Add Comment") {
        this.commentLabel = "Cancel Comment";
      } else {
        this.commentLabel = "Add Comment";
      }
    },
    displayComma(index) {
      return this.post.tags.length > 0 && index < this.post.tags.length - 1;
    }
  }
};
</script>


<style lang="scss">
@import "./src/sass/mixin-media-queries";
@import "./src/sass/variables";

.post__footer {
  background-color: $secondary;
  padding: 0.5rem;
  display: flex;
}

.post__tags {
  width: 50%;
}

.post__comment_link {
  width: 50%;
  text-align: right;
}

article {
  background-color: $primary;
  width: 80%;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
}

p {
  margin-bottom: 1rem;
}
.post__readmore {
  display: block;
  text-align: right;
  color: $accent;
  @include MQ-TAB($S) {
    padding: 0rem 1rem 1rem;
  }
  @include MQ-TAA($S) {
    padding: 0rem 1rem 1rem;
  }
}
.post__content {
  @include MQ-TAB($S) {
    padding: 0rem 1rem;
  }
  @include MQ-TAA($S) {
    padding: 0rem 3rem;
  }
}

/* contains .post__author and .post__timestamp*/
.post__byline {
  margin: auto;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 80%;
  @include MQ-TAB($S) {
    font-size: 0.8rem;
  }
  @include MQ-TAA($S) {
    font-size: 1.2rem;
  }
  @include MQ-TAA($XL) {
    font-size: 2rem;
  }
}

.post__title {
  color: $accent;
  text-align: center;
  width: 100%;
  padding-top: 1rem;
  @include MQ-TAB($S) {
    font-size: 1.5rem;
  }
  @include MQ-TAA($S) {
    font-size: 3rem;
  }
  @include MQ-TAA($XL) {
    font-size: 5rem;
  }
}
</style>
