<template>
  <aside id="profile">
    <social-icons/>
    <router-link :to="'/'"><img src="@/assets/img/headshot.png" alt=""  id='profile__pic'></router-link>
    <div id="profile__blurb">
      Hi there! I'm Alex Oxthorn. I spend most of my free time tinkering with, and blogging about, the Laravel and VueJS frameworks.
    </div>
    <div id="profile__social" class="center">
      <a href="http://www.linkedin.com/in/alexoxthorn">
        <svg viewBox="0 0 125 125" class="social__icon">
          <use xlink:href="#linkedin"></use>
        </svg>
      </a>
      <a href="http://www.twitter.com/Zamerick">
        <svg viewBox="0 0 125 125" class="social__icon">
          <use xlink:href="#twitter"></use>
        </svg>
      </a>
      <a href="http://gitlab.com/zamerick/">
        <svg viewBox="0 0 125 125" class="social__icon">
          <use xlink:href="#gitlab"></use>
        </svg>
      </a>
    </div>
  </aside>
</template>

<script>
import socialIcons from "@/components/SocialIcons.vue";
export default {
  name: "Sidebar",
  components: { socialIcons } // .vue component that contains the svg icons.
};
</script>

<style lang='scss'>
@import "./src/sass/mixin-media-queries";
@import "./src/sass/variables";

.social__icon {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  height: 3rem;
  width: 3rem;
  @include MQ-TAA($XL) {
    width: 5rem;
  }
  @include MQ-TAA($XXL) {
    width: 6rem;
  }
}
.social__icon:hover {
  transform: translateY(10px);
}

#profile__blurb {
  margin: 1em;
  flex-grow: 7;
  @include MQ-TAB($S) {
    display: none;
  }
}
#profile__pic {
  border-radius: 50%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  @include MQ-AT($S) {
    width: 60%;
  }
  @include MQ-TAB($S) {
    display: none;
  }
}
#profile__social {
  margin-bottom: 1em;
  @include MQ-TAB($S) {
    text-align: center;
  }
}
aside {
  background-color: $primary;
  @include MQ-AT($S) {
    width: 20%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }
  @include MQ-TAB($S) {
    justify-content: center;
    height: auto;
    width: auto;
    position: inherit;
  }
}
</style>
