<template>
    <footer>&copy; 2016 - {{ currentYear }} Alex Oxthorn. All Rights Reserved.</footer>
</template>

<script>
export default {
  name: "SiteFooter",
  data() {
    return {
      currentYear: new Date().getFullYear()
    };
  }
};
</script>

<style lang='scss'>
@import "./src/sass/variables";
footer {
  background-color: $secondary;
  width: 80%;
  margin: auto;
  padding: 1rem;
  text-align: center;
}
</style>
